<section>
<h1>{{movie.name}}</h1>
<span>
<rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
</span>
<p>{{movie.plot}}</p>
<p>{{move.runtime}}</p>
<h2>Actors</h2>
<ul ng-repeat="actor in movie.actors">
<li>{{actor}}</li>
</ul>
<p>{{movie.awards}}</p>
<p>{{movie.country}}</p>
<p>{{movie.director}}</p>
<h2>Genres</h2>
<ul ng-repeat="genre in movie.genres">
<li>{{genre}}</li>
</ul>
<p>{{movie.imdbVotes}}</p>
<p>{{movie.language}}</p>
<p>{{movie.rated}}</p>
<h2>Writers</h2>
<ul ng-repeat="writer in movie.writers">
<li>{{writer}}</li>
</ul>
</section>