<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>
    <div>
      <!--Body content-->

      <ul>
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail">
   
          <a href="#/movie/{{phone.imdbID}}">{{phone.name}} {{phone.imdbID}}</a>
          <p>{{phone.imdbID}}</p>
        </li>
      </ul>
	<pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
  </div>
</div>